<div class="col-md-12 col-lg-6 p-2">
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title mb-0">{{ .name }}</h5>
      <div class="sub-title">
        <span><a href="{{ .organization.url }}" title="{{ .organization.name }}" target="_blank" rel="noopener">{{ .organization.name }}</a></span>
        <span class="ml-2">{{ .timeline }}</span>
      </div>
    </div>
    <div class="card-body">
      <p>{{ .accomplishmentOverview | markdownify }}</p>
    </div>
    <div class="card-footer">
      {{ if .accomplishmentURL }}
        <a class="btn btn-outline-info ml-1 pl-2 mb-2" href="{{ .accomplishmentURL }}" target="_blank" rel="noopener" role="button">{{ i18n "view_accomplishment"}}</a>
      {{ end }}
    </div>
  </div>
</div>
