/* This is empty CSS file intended to be overwritten by user's custom CSS file */

.cripto:hover, 
.glow {
  width: 1;
  height: 1;
  border-radius:50%;
  -webkit-animation: glowing 2s ease-in-out infinite alternate;
  -moz-animation: glowing 2s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #000, 0 0 20px #000;
  }
  to {
    box-shadow: 0 0 10px #fff, 0 0 15px var(--border-color), 0 0 20px var(--border-color), 0 0 25px var(--border-color);
  }
}

.criptos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cripto {
  --border-size: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  order: var(--order);
  width: 320px;
  padding: 10px;
}

.cripto > img {
  filter: invert(0%) !important;
}

.cripto > h2 {
  margin-top: 20px;
}

.cripto > p {
  margin-top: 10px;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.cripto:hover {
  border: var(--border-size) none var(--border-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

#snackbar {
  --border-color: #0feed5ff;
  border: 3px solid var(--border-color);
  box-shadow: 0 0 10px #fff, 0 0 15px var(--border-color), 0 0 20px var(--border-color), 0 0 25px var(--border-color);
  visibility: hidden;
  color: #fff;
  background-color: #333;
  min-width: 250px;
  margin-left: -125px;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
  left: 50%;
  bottom: 30px;
  z-index: 1;
  position: fixed;
}

/* This will be activated when the snackbar's class is 'show' which will be added through JS */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.3s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations for fading in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/* ============= Device specific fixes ======= */

/* Large screens such as TV */
@media only screen and (min-width: 1824px) {
}

/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

/* IPad Pro */
@media (max-width: 1024px) {
}

/*  Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 576px) {
}

/* iPhoneX, iPhone 6,7,8 */
@media only screen and (max-width: 375px) {
}

/* Galaxy S5, Moto G4 */
@media only screen and (max-width: 360px) {
}

/* iPhone 5 or before */
@media only screen and (max-width: 320px) {
}

@media (min-width: 1200px) {
  .container {
    max-width: 1700px;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
