{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}

<div class="container anchor p-lg-5 about-section" id="{{ $sectionID }}">
  <h1 class="text-center">
    <span id="{{ $sectionID }}"></span>{{ .section.name }}
  </h1>
  <br />
  <div class="criptos">
    {{ range .criptos }}
      {{ partial "misc/cripto.html" . }}
    {{ end }}
  </div>
</div>
