{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $numShow := 12}}
{{ if .section.numShow }}
  {{ $numShow = .section.numShow }}
{{ end }}


<div class="container-fluid anchor pb-5 recent-posts-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container">
    <div class="row" id="recent-post-cards">
      {{ range first $numShow (where site.RegularPages.ByDate.Reverse "Type" "in" "posts" )}}
        {{ partial "cards/recent-post.html" . }}
      {{ end }}
    </div>
    <br />
    <a href="/posts" title="{{ i18n "readmore" }}" class="btn btn-outline-info btn-sm" 
      style="
        width: 100%;
        font-size: 13pt;
    ">{{ i18n "readmore" }}</a>
  </div>
</div>

