{{/*  variables for enabling/disabling parts of the footer  */}}
{{ $footerEnabled      := site.Params.footer.enable             | default true }}
{{ $navigationEnabled  := site.Params.footer.navigation.enable  | default true }}
{{ $customMenusEnabled := site.Params.footer.navigation.customMenus | default true }}
{{ $contactMeEnabled   := site.Params.footer.contactMe.enable   | default true }}
{{ $newsletterEnabled  := site.Params.footer.newsletter.enable  | default true }}
{{ $telegramEnabled  := site.Params.footer.telegram_channel.enable  | default true }}
{{ $credentialsEnabled := site.Params.footer.credentials.enable | default true }}
{{ $disclaimerEnabled  := site.Params.footer.disclaimer.enable  | default false }}

{{/*  Keep backward compatibility for the newsletter function */}}
{{ if site.Params.newsletter }}
  {{ if site.Params.newsletter.enable }}
    {{ $newsletterEnabled = true }}
  {{ else }}
      {{ $newsletterEnabled = false }}
  {{ end }}
{{ end }}

{{ if $footerEnabled }}
  {{ $author:= site.Data.author }}
  {{ if (index site.Data site.Language.Lang).author }}
    {{ $author = (index site.Data site.Language.Lang).author }}
  {{ end }}

  {{ $sections:= site.Data.sections }}
  {{ if (index site.Data site.Language.Lang).sections }}
    {{ $sections = (index site.Data site.Language.Lang).sections }}
  {{ end }}

  {{ $customMenus := site.Params.customMenus }}
  {{ if (index site.Data site.Language.Lang).site.customMenus }}
    {{ $customMenus = (index site.Data site.Language.Lang).site.customMenus }}
  {{ end }}

  {{ $copyrightNotice := now.Format "2006" | printf "© %s - MIT License"}}
  {{ if (index site.Data site.Language.Lang).site }}
    {{ $siteConfig := (index site.Data site.Language.Lang).site }}
    {{ if $siteConfig.copyright }}
      {{ $copyrightNotice = $siteConfig.copyright }}
    {{ end }}
  {{ end }}


  {{ $disclaimer := "" }}
  {{ $siteConfig := (index site.Data site.Language.Lang).site }}
  {{ if $siteConfig.disclaimer }}
    {{ $disclaimer = $siteConfig.disclaimer }}
  {{ end }}

  {{/*  footer logos  */}}
  {{ $themeLogo := "/images/theme-logo.png" }}
  {{ $hugoLogo := "/images/hugo-logo.svg" }}

  {{/* resize the logos. don't resize svg because it is not supported */}}
  {{ $themeLogo:= resources.Get $themeLogo}}
  {{ if and $themeLogo (ne $themeLogo.MediaType.SubType "svg") }}
    {{ $themeLogo = $themeLogo.Resize "32x" }}
  {{ end }}
  {{ $themeLogo = $themeLogo.RelPermalink}}

  {{ $hugoLogo:= resources.Get $hugoLogo}}
  {{ if and $hugoLogo (ne $hugoLogo.MediaType.SubType "svg")}}
    {{ $hugoLogo = $hugoLogo.Resize "32x" }}
  {{ end }}
  {{ $hugoLogo = $hugoLogo.RelPermalink}}

  <footer id="footer" class="container-fluid text-center align-content-center footer pb-2">
    <div class="container pt-5">
      <div class="row text-left">
        {{ if $navigationEnabled }}
        <div class="col-md-4 col-sm-12">
          <h5>{{ i18n "navigation" }}</h5>
          {{ if $sections }}
          <ul>
            {{- range sort $sections "section.weight" }}
              {{ if and (.section.enable) (.section.showOnNavbar)}}
                {{ $sectionID := replace (lower .section.name) " " "-"  }}
                {{ if .section.id }}
                  {{ $sectionID = .section.id }}
                {{ end }}
                <li class="nav-item">
                  <a class="smooth-scroll" href="{{ "" | absLangURL }}#{{ $sectionID }}">{{ .section.name }}</a>
                </li>
              {{ end }}
            {{- end }}
            {{ if $customMenusEnabled }}
              {{ range $customMenus }}
                {{ if .showOnFooter }}
                    <li class="nav-item">
                      <a class="smooth-scroll" href="{{ .url }}">{{ .name }}</a>
                    </li>
                {{ end }}
              {{ end }}
            {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ end }}
        {{ if (and $contactMeEnabled $author) }}
        <div class="col-md-4 col-sm-12">
          <h5>{{ i18n "contact_me" }}</h5>
          <ul>
            {{ range $key,$value:= $author.contactInfo }}
              {{ if (eq $key "email") }}
                <li><a href={{ printf "mailto:%s" $value }} target="_blank" rel="noopener">
                  <span><i class="fas fa-envelope"></i></span> <span>{{ $value }}</span>
                </a></li>
              {{ else if (eq $key "phone") }}
                <li><span><i class="fas fa-phone-alt"></i></span> <span>{{ $value }}</span></li>
              {{ else if (eq $key "linkedin") }}
                <li><a href={{ printf "https://www.linkedin.com/in/%s" $value }} target="_blank" rel="noopener">
                  <span><i class="fab fa-linkedin"></i></span> <span>{{ $author.name }}</span>
                </a></li>
              {{ else if (eq $key "gitlab") }}
                <li><a href={{ printf "https://gitlab.com/%s" $value }} target="_blank" rel="noopener">
                  <span><i class="fab fa-gitlab"></i></span> <span>{{ $value }}</span>
                </a></li>
              {{ else if (eq $key "github") }}
                <li><a href={{ printf "https://github.com/%s" $value }} target="_blank" rel="noopener">
                  <span><i class="fab fa-github"></i></span> <span>{{ $value }}</span>
                </a></li>
              {{ else if reflect.IsMap $value }}
                <li>
                  {{ if (and (isset $value "url") (isset $value "icon"))}}
                  <a href={{ $value.url }} target="_blank" rel="noopener">
                    <span><i class={{ printf "fab fa-%s" $value.icon }}></i></span> <span>{{ $value.text }}</span>
                  </a>
                  {{ else if isset $value "icon" }}
                    <span><i class={{ printf "fab fa-%s" $value.icon }}></i></span> <span>{{ $value.text }}</span>
                  {{ else }}
                    <a href={{ $value.url }} target="_blank" rel="noopener">
                      <span>{{ title $key }}: </span> <span>{{ $value.text }}</span>
                    </a>
                  {{ end }}
                </li>
              {{ else }}
                <li><span>{{ title $key }}: </span> <span>{{ $value }}</span></li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
        {{ end }}
        <div class="col-md-4 col-sm-12">
        <!-------------- Newsletter --------------->
        {{ if $newsletterEnabled }}
          {{ $provider := site.Params.footer.newsletter.provider }}
            <p>{{ i18n "newsletter_text" }}</p>
            {{ if and (eq $provider "mailchimp") site.Params.footer.newsletter.mailchimpURL }}  <!-- mailchimp -->
              <form
                action="{{ site.Params.footer.newsletter.mailchimpURL }}"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate >
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="mce-EMAIL"
                    name="EMAIL"
                    aria-describedby="emailHelp"
                    placeholder="{{ i18n "newsletter_input_placeholder" }}"
                  />
                  <small id="emailHelp" class="form-text text-muted"
                    >{{ i18n "newsletter_warning" }}</small
                  >
                </div>
                <button type="submit" class="btn btn-info">{{ i18n "submit" }}</button>
              </form>
            {{ else }}
              <form method='post' action='https://blogtrottr.com'>
              <div class="form-group">
              <input type='email' class="form-control" name='btr_email' placeholder="{{ i18n "newsletter_input_placeholder" }}"/><br />
              <input type='hidden' name='btr_url' value='{{ "" | absLangURL }}index.xml' />
              <input type='hidden' name='schedule_type' value='1' />
              <small id="emailHelp" class="form-text text-muted">{{ i18n "newsletter_warning" }}</small>
              <button type="submit" class="btn btn-info"> {{ i18n "submit" }} </button>
              </div>
              </form>
            {{ end }}
            <br />
	    {{ end }}
	    <!-------------- Telegram Channel --------------->
            {{ if $telegramEnabled }}
              {{ $telegramChannelUrl := site.Params.footer.telegram_channel.url }}
                <h5>{{ i18n "telegram_text" }}</h5>
		<a href="{{ $telegramChannelUrl }}" class="btn " target="_blank" style="width: 100%; background-color: #2481cc; color: #ffffff; margin-top: 10px;">
		  <img src="{{ relURL "media/telegram/Logo.png" }}" width="25" height="25" />
		  <b>&nbsp;{{ i18n "telegram_join_channel_text" }}</b>
		</a>
            {{ end }}
         </div>

      </div>
    </div>
    {{ if and $disclaimerEnabled $disclaimer}}
    <hr />
    <div class="container">
      <p id="disclaimer"><strong>{{ i18n "disclaimer_text" }}:</strong> {{ $disclaimer | markdownify }}</p>
    </div>
    {{ end }}
    {{ if $credentialsEnabled }}
    <hr />
    <div class="container">
      <div class="row text-left">
        <div class="col-md-4">
          <a id="theme" href="https://github.com/hossainemruz/toha" target="_blank" rel="noopener">
            <img src="{{ $themeLogo }}" alt="Toha Theme Logo">
            Toha
          </a>
        </div>
        <div class="col-md-4 text-center">{{ $copyrightNotice | markdownify }}</div>
        <div class="col-md-4 text-right">
          <a id="hugo" href="https://gohugo.io/" target="_blank" rel="noopener">{{ i18n "hugoAttributionText" }}
          <img
            src="{{ $hugoLogo }}"
            alt="Hugo Logo"
            height="18"
          />
          </a>
        </div>
      </div>
    </div>
    {{ end }}
  </footer>
{{end}}
