<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <title>{{- .Site.Title -}}</title>
    {{ $siteDescription := .Site.Params.description }}
    {{ if (index .Site.Data .Site.Language.Lang).site }}
      {{ $siteConfig := (index .Site.Data .Site.Language.Lang).site }}
      {{ if $siteConfig.description }}
        {{ $siteDescription = $siteConfig.description }}
      {{ end }}
    {{ end }}
    <meta name="description" content="{{ $siteDescription }}" />
    
    <!-- import common headers -->
    {{- partial "header.html" . -}}
    {{- partial "opengraph.html" . -}}

    <!-- import index page specific headers -->
    <link rel="stylesheet" href="{{ "/css/sections/home.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/about.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/skills.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/experiences.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/education.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/projects.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/recent-posts.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/achievements.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/accomplishments.css" | relURL }}"/>
    <link rel="stylesheet" href="{{ "/css/sections/publications.css" | relURL }}"/>

    <!--================= custom style overrides =========================-->
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>
    
    <!--================= add analytics if enabled =========================-->
    {{- partial "analytics.html" . -}}
    
    <!-- dark mode by default -->
    <script type="text/javascript">
    function defaultDarkMode(){
      if (localStorage.getItem("color-theme") === null || localStorage.getItem("color-theme") == "system") {
        enableDarkTheme();
      }
    }
    </script>
  </head>
  <body data-spy="scroll" data-target="#top-navbar" data-offset="100" onload="defaultDarkMode()">

    <!--- NAVBAR ------------------------->
    {{- partial "navigators/navbar.html" . -}}

    <!--- ADD HOME SECTION ---------------->
    {{- partial "sections/home.html" . -}}

    <!--- ADD OPTIONAL SECTIONS ----------->
    {{ $sections:= site.Data.sections }}
    {{ if (index site.Data site.Language.Lang).sections }}
      {{ $sections = (index site.Data site.Language.Lang).sections }}
    {{ end }}

    {{ if $sections }}
      {{ $background:= "bg-white"}}
      {{ range sort $sections "section.weight" }}
        {{ if .section.enable }}
          <div class="container-fluid section-holder d-flex {{ $background }}">
            {{ if .section.template }}
              {{- partial .section.template . -}}
            {{ else }}
              {{- partial (printf "sections/%s.html" (replace (lower .section.id) " " "-")) . -}}
            {{ end }}
          </div>
          <!--- alter background color for next section --->
          {{ if eq $background "bg-white" }}
            {{ $background = "bg-dimmed" }}
          {{ else }}
            {{ $background = "bg-white" }}
          {{end}}
        {{ end }}
      {{ end }}
    {{ end }}

    <!--- ADD FOOTER ----------------------->
    {{ $footerTemplate:= site.Params.footer.template | default "footer.html" }}
    {{- partial $footerTemplate . -}}

    <!--- ADD COMMON SCRIPTS --------------->
    {{ partial "scripts.html" . }}

    <!--- ADD INDEX PAGE SPECIFIC SCRIPTS -->
    <script src="{{ "/js/itype.min.js" | relURL }}"></script>
    <script src="{{ "/js/github-button.js" | relURL }}"></script>
    <script src="{{ "/js/home.js" | relURL }}"></script>
    <script src="{{ "/js/jquery.filterizr.min.js" | relURL }}"></script>

    <!------ ADD SUPPORT LINKS -------->
    {{- partial "misc/support.html" . -}}

  </body>
</html>
