
<div class="">
  <div class="cripto" style="--order: {{ .order }}; --border-color: #{{ .color }};" onclick="copyToClipboard('{{ .order }}')">
    <img src="{{ .img }}" alt="{{ .name }}" />
    <h2>{{ .name }}</h2>
    <p id="address-{{ .order }}">{{ .address }}</p>
    <span id="snackbar">
      Endereço copiado!
      <br />
      Muito Obrigado!
    </span>
  </div>
</div>
