<div class="embed video-player">
	<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?controls=0&amp;list={{ index .Params 0 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" style="display: block; margin-left: auto; margin-right: auto; width: 560;" allowfullscreen></iframe>
</div>
